
@media only screen and (max-width: 720px) {
    body {
      background-color: lightblue;
    }
    body {
        background-color: lightblue;
      }
      body {
        background-color: lightblue;
      }
      body {
        background-color: lightblue;
      }
      body {
        background-color: lightblue;
      }
      body {
        background-color: lightblue;
      }
      body {
        background-color: lightblue;
      }
      body {
        background-color: lightblue;
      }
  }